*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main{
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
form{
    display: flex;
    flex-direction: column;
}
label{
    margin-bottom: 10px;
    font-weight: bold;
    padding: 10px 2px 2px 20px;
    font-size: 15px;
}
input{
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #8e8c8c;
    border-radius: 4px;
    font-size: 10px;
}
button{
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;

}
button:hover{
    background-color: #064013;
    
}

footer{
  
    margin-top: 20px;
    font-size: 14px;
    color: #555;
    position: fixed;
    bottom: 10px;
      
}